# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

EDGE_CONFIG="https://edge-config.vercel.com/ecfg_1234567890?token=abcdefg-123456-asdfb"

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/qr-program-manager"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="SAMPLE_CHANGE_ME"
AUTH_REDIRECT_PROXY_URL="https://qr-program-manager.vercel.app/api/auth"

NEXT_PUBLIC_DEPLOY_URL="http://localhost:3000"

# Next Auth Google Provider
GOOGLE_CLIENT_ID="abcdefg.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="abcdefg"

UPLOADTHING_APP_ID="abcdefg"
UPLOADTHING_SECRET="abcdefg"

RESEND_API_KEY="abcdefg"

# Plausible analytics
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=qr-program-manager.vercel.app
NEXT_PUBLIC_PLAUSIBLE_CUSTOM_DOMAIN=https://plausible.com
NEXT_PUBLIC_PLAUSIBLE_SELF_HOSTED=true
